.border-top-left::before {
  content: "";
  background: #282828;
  position: absolute;
  inset: 0;

  clip-path: polygon(2px 2px, 0 100%, 100% 100%, 100% 0);
}

.border-bottom-right {
  --notch: 96px;
  clip-path: polygon(
    0 0,
    0 100%,
    calc(100% - var(--notch)) 100%,
    100% calc(100% - var(--notch)),
    100% 0,
    0 0
  );
}

.border-bottom-right::before {
  content: "";
  background: #282828;
  position: absolute;
  inset: 0;

  --notch: 96px;

  clip-path: polygon(
    0 0,
    0 100%,
    calc(100% - var(--notch) - 1px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - var(--notch) - 1px),
    100% 0
  );
}

.services-card-clip {
  --notch: 96px;
  clip-path: polygon(
    0 0,
    0 100%,
    calc(100% - var(--notch)) 100%,
    100% calc(100% - var(--notch)),
    100% 0,
    0 0
  );
}

@media (max-width: 768px) {
  .services-card-clip {
    --notch: 52px;
  }

  .border-bottom-right {
    --notch: 52px;
  }

  .border-bottom-right::before {
    --notch: 52px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .services-card-clip {
    --notch: 62px;
  }

  .border-bottom-right {
    --notch: 62px;
  }

  .border-bottom-right::before {
    --notch: 62px;
  }
}

@keyframes float-mobile {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 640px) {
  .floating-div > img {
    transform: translateY(0);
    animation: float-mobile 6s ease-in-out infinite;
  }
}

@media (min-width: 640px) {
  .floating-div > img {
    transform: translateY(0);
    animation: float 5s ease-in-out infinite;
  }
}
