.servicesSwiper.swiper {
  overflow-y: visible !important;
  overflow-x: hidden !important;
}

.servicesSwiper > .swiper-wrapper {
  overflow-y: visible;
  align-items: center;
}

.servicesSwiper > .swiper-wrapper > .swiper-slide {
  overflow-y: visible;
  height: 600px;
  transition: all 0.2s none;
}

.servicesSwiper > .swiper-wrapper > .swiper-slide:not(.swiper-slide-visible) {
  visibility: hidden;
}

.servicesSwiper > .swiper-wrapper > .swiper-slide-active > .glow-card-outer {
  clip-path: polygon(
    0 53px,
    0 100%,
    calc(100% - 53px) 100%,
    100% calc(100% - 53px),
    100% 0,
    53px 0
  );
}

.servicesSwiper
  > .swiper-wrapper
  > .swiper-slide-active
  > .glow-card-outer
  > .glow-card-inner {
  clip-path: polygon(
    0 52px,
    0 100%,
    calc(100% - 52px) 100%,
    100% calc(100% - 52px),
    100% 0,
    52px 0
  );
}

.servicesSwiper > .swiper-pagination {
  bottom: 30 !important;
}

.swiper-slide-shadow-coverflow {
  background-image: none !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-brand-orange);
}

@media (max-width: 640px) {
  .servicesSwiper > .swiper-wrapper > .swiper-slide {
    height: 270px;
    width: 60% !important;
  }

  .servicesSwiper > .swiper-pagination {
    bottom: 0 !important;
  }

  .servicesSwiper > .swiper-wrapper > .swiper-slide-active > .glow-card-outer {
    clip-path: polygon(
      0 23px,
      0 100%,
      calc(100% - 23px) 100%,
      100% calc(100% - 23px),
      100% 0,
      23px 0
    );
  }

  .servicesSwiper
    > .swiper-wrapper
    > .swiper-slide-active
    > .glow-card-outer
    > .glow-card-inner {
    clip-path: polygon(
      0 22px,
      0 100%,
      calc(100% - 22px) 100%,
      100% calc(100% - 22px),
      100% 0,
      22px 0
    );
  }
}
