.servicesSwiper {
  padding-top: 120px;
  width: 80%;
}

.servicesSwiper .swiper-wrapper {
  pointer-events: none;
}

.servicesSwiper .services-slide {
  pointer-events: auto;
}

.servicesSwiper .services-slide.swiper-slide:not(.swiper-slide-visible) {
  visibility: hidden !important;
}

.services-slide.swiper-slide-visible .glow-card-outer {
  --notch: 53px;
  clip-path: polygon(
    0 var(--notch),
    0 100%,
    calc(100% - var(--notch)) 100%,
    100% calc(100% - var(--notch)),
    100% 0,
    var(--notch) 0
  );
}

.services-slide.swiper-slide-visible .glow-card-inner {
  --notch: 52px;
  clip-path: polygon(
    0 var(--notch),
    0 100%,
    calc(100% - var(--notch)) 100%,
    100% calc(100% - var(--notch)),
    100% 0,
    var(--notch) 0
  );
}

.services-slide {
  height: 660px;
  width: 620px;
}

.services-slide.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.4;
}

.services-slide.swiper-slide:not(.swiper-slide-active) .services-gif-container {
  visibility: hidden;
}

@media (max-width: 639px) {
  .servicesSwiper.swiper {
    width: 100%;
    padding-top: 100px;
  }
  .services-slide.swiper-slide {
    width: 250px;
    height: 268px;
  }
  .services-slide.swiper-slide-visible .glow-card-outer {
    --notch: 23px;
  }

  .services-slide.swiper-slide-visible .glow-card-inner {
    --notch: 22px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .servicesSwiper.swiper {
    width: 100%;
    padding-top: 100px;
  }
  .services-slide.swiper-slide {
    width: 380px;
    height: 420px;
  }
  .services-slide.swiper-slide-visible .glow-card-outer {
    --notch: 23px;
  }

  .services-slide.swiper-slide-visible .glow-card-inner {
    --notch: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .servicesSwiper.swiper {
    width: 100%;
    padding-top: 100px;
  }
  .services-slide.swiper-slide {
    width: 320px;
    height: 380px;
  }
  .services-slide.swiper-slide-visible .glow-card-outer {
    --notch: 33px;
  }

  .services-slide.swiper-slide-visible .glow-card-inner {
    --notch: 32px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .servicesSwiper.swiper {
    width: 100%;
    padding-top: 100px;
  }
  .services-slide.swiper-slide {
    width: 380px;
    height: 420px;
  }
  .services-slide.swiper-slide-visible .glow-card-outer {
    --notch: 43px;
  }

  .services-slide.swiper-slide-visible .glow-card-inner {
    --notch: 42px;
  }
}

@media (min-width: 1280px) and (max-width: 1536px) {
  .servicesSwiper.swiper {
    width: 90%;
  }
  .services-slide.swiper-slide {
    width: 480px;
    height: 540px;
  }
}
