.contact-clip-container {
  --notch: 51px;
  clip-path: polygon(
    0 var(--notch),
    0 100%,
    100% 100%,
    100% var(--notch),
    calc(100% - var(--notch)) 0,
    var(--notch) 0
  );
}

.contact-clip-content {
  --notch: 52px;
  clip-path: polygon(
    1px var(--notch),
    1px calc(100% - 1px),
    calc(100% - 1px) calc(100% - 1px),
    calc(100% - 1px) var(--notch),
    calc(100% - var(--notch)) 1px,
    var(--notch) 1px
  );
}

.btn-clip {
  --notch: 14px;
  clip-path: polygon(
    0 var(--notch),
    0 100%,
    calc(100% - var(--notch)) 100%,
    100% calc(100% - var(--notch)),
    100% 0%,
    var(--notch) 0
  );
}

.footer-container-clip {
  --notch: 51px;
  clip-path: Polygon(0 var(--notch), 0 100%, 100% 100%, 100% 0, var(--notch) 0);
}

.footer-content-clip {
  --notch: 52px;
  clip-path: Polygon(
    2px var(--notch),
    0 100%,
    calc(100% - 2px) 100%,
    100% 0,
    50% 0,
    var(--notch) 2px
  );
}

.marquee-animation {
  animation: marquee 20s linear infinite;
}

.marquee-reverse-animation {
  animation: marquee-reverse 20s linear infinite;
}

.agency-stat-container {
  clip-path: Polygon(0 8%, 0 100%, 97% 100%, 100% 92%, 100% 0, 3% 0);
}

.agency-stat-content {
  clip-path: Polygon(
    1px 8%,
    1px calc(100% - 1px),
    30% 100%,
    60% 100%,
    70% calc(100% - 1px),
    97% calc(100% - 1px),
    calc(100% - 1px) 92%,
    calc(100% - 1px) 60%,
    100% 40%,
    100% 0,
    60% 0,
    3% 1px
  );
}

.agency-client-container {
  --notch: 52px;
  clip-path: Polygon(
    0 0,
    0 calc(100% - var(--notch)),
    var(--notch) 100%,
    100% 100%,
    100% var(--notch),
    calc(100% - var(--notch)) 0
  );
}

.agency-client-content {
  --notch: 52px;
  clip-path: Polygon(
    0 0,
    0 30%,
    1px 50%,
    1px calc(100% - var(--notch)),
    var(--notch) calc(100% - 1px),
    30% 100%,
    50% 100%,
    60% calc(100% - 1px),
    calc(100% - 1px) calc(100% - 1px),
    calc(100% - 1px) var(--notch),
    calc(100% - var(--notch)) 1px,
    40% 0
  );
}

.consent-banner-outer-clip {
  clip-path: polygon(
    0 12px,
    0 100%,
    calc(100% - 12px) 100%,
    100% calc(100% - 12px),
    100% 0,
    12px 0
  );
}

.consent-banner-clip {
  clip-path: polygon(
    1px 12px,
    1px 100%,
    30% 100%,
    50% calc(100% - 1px),
    calc(100% - 12px) calc(100% - 1px),
    calc(100% - 1px) calc(100% - 12px),
    calc(100% - 1px) 1px,
    80% 0,
    12px 1px
  );
}

.modal-border-tl {
  --notch: 53px;
  clip-path: polygon(
    100% 0,
    var(--notch) 0,
    0 var(--notch),
    0 100%,
    2px var(--notch),
    var(--notch) 2px
  );
}

.modal-border-br {
  --notch: 54px;
  clip-path: polygon(
    0 calc(100% - 2px),
    calc(100% - var(--notch)) calc(100% - 2px),
    calc(100% - 2px) calc(100% - var(--notch)),
    calc(100% - 2px) 0,
    100% calc(100% - var(--notch)),
    calc(100% - var(--notch)) 100%
  );
}

@keyframes marquee {
  0% {
    transform: "translateX(0)";
  }
  100% {
    transform: "translateX(-50%)";
  }
}

@keyframes marquee-reverse {
  0% {
    transform: "translateX(-50%)";
  }
  100% {
    transform: "translateX(-0)";
  }
}

@media (min-width: 1280px) {
  .client-testimonial-swiper > .swiper-wrapper {
    gap: 25px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1280px) {
  .btn-clip {
    --notch: 10px;
  }
}

@media (max-width: 640px) {
  .btn-clip {
    --notch: 8px;
  }

  .contact-clip-container {
    --notch: 21px;
  }

  .contact-clip-content {
    --notch: 22px;
  }

  .footer-container-clip {
    --notch: 21px;
  }

  .footer-content-clip {
    --notch: 22px;
  }

  .agency-stat-container {
    clip-path: Polygon(
      0 25px,
      0 100%,
      calc(100% - 18px) 100%,
      100% calc(100% - 25px),
      100% 0,
      18px 0
    );
  }

  .agency-stat-content {
    clip-path: Polygon(
      1px 25px,
      1px calc(100% - 1px),
      30% 100%,
      60% 100%,
      70% calc(100% - 1px),
      calc(100% - 18px) calc(100% - 1px),
      calc(100% - 1px) calc(100% - 25px),
      calc(100% - 1px) 60%,
      100% 40%,
      100% 0,
      60% 0,
      18px 1px
    );
  }

  .agency-client-container {
    --notch: 25px;
  }

  .agency-client-content {
    --notch: 25px;
  }

  .modal-border-tl {
    --notch: 13px;
  }

  .modal-border-br {
    --notch: 14px;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .agency-stat-container {
    clip-path: Polygon(
      0 30px,
      0 100%,
      calc(100% - 25px) 100%,
      100% calc(100% - 30px),
      100% 0,
      25px 0
    );
  }

  .agency-stat-content {
    clip-path: Polygon(
      1px 30px,
      1px calc(100% - 1px),
      30% 100%,
      60% 100%,
      70% calc(100% - 1px),
      calc(100% - 25px) calc(100% - 1px),
      calc(100% - 1px) calc(100% - 30px),
      calc(100% - 1px) 60%,
      100% 40%,
      100% 0,
      60% 0,
      25px 1px
    );
  }

  .agency-client-container {
    --notch: 30px;
  }

  .agency-client-content {
    --notch: 30px;
  }

  .modal-border-tl {
    --notch: 29px;
  }

  .modal-border-br {
    --notch: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-clip {
    --notch: 8px;
  }

  .footer-container-clip {
    --notch: 31px;
  }

  .footer-content-clip {
    --notch: 32px;
  }
  .contact-clip-container {
    --notch: 31px;
  }

  .contact-clip-content {
    --notch: 32px;
  }

  .agency-client-container {
    --notch: 40px;
  }

  .agency-client-content {
    --notch: 40px;
  }

  .modal-border-tl {
    --notch: 21px;
  }

  .modal-border-br {
    --notch: 22px;
  }
}
