.contact-clip-container {
  clip-path: polygon(
    0 51px,
    0 100%,
    100% 100%,
    100% 51px,
    calc(100% - 51px) 0,
    51px 0
  );
}

.contact-clip-content {
  clip-path: polygon(
    1px 52px,
    1px calc(100% - 1px),
    calc(100% - 1px) calc(100% - 1px),
    calc(100% - 1px) 52px,
    calc(100% - 52px) 1px,
    52px 1px
  );
}

.btn-clip {
  --notch: 16px;
  clip-path: polygon(
    0 var(--notch),
    0 100%,
    calc(100% - var(--notch)) 100%,
    100% calc(100% - var(--notch)),
    100% 0%,
    var(--notch) 0
  );
}

@media screen and (max-width: 1280px) {
  .btn-clip {
    --notch: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .btn-clip {
    --notch: 8px;
  }
}

@media (max-width: 639px) {
  .btn-clip {
    --notch: 8px;
  }
}
