.contact-clip-container {
  --notch: 52px;
  clip-path: polygon(
    0 var(--notch),
    0 100%,
    1px 60%,
    1px var(--notch),
    var(--notch) 1px,
    calc(100% - var(--notch)) 1px,
    calc(100% - 1px) var(--notch),
    calc(100% - 1px) calc(100% - 1px),
    100% 60%,
    100% var(--notch),
    calc(100% - var(--notch)) 0,
    var(--notch) 0
  );
}

.contact-clip-content {
  --notch: 52px;
  clip-path: polygon(
    1px var(--notch),
    1px calc(100% - 1px),
    calc(100% - 1px) calc(100% - 1px),
    calc(100% - 1px) var(--notch),
    calc(100% - var(--notch)) 1px,
    var(--notch) 1px
  );
}

.btn-clip {
  --notch: 14px;
  clip-path: polygon(
    0 var(--notch),
    0 100%,
    calc(100% - var(--notch)) 100%,
    100% calc(100% - var(--notch)),
    100% 0%,
    var(--notch) 0
  );
}

.footer-container-clip {
  --notch: 51px;
  clip-path: Polygon(0 var(--notch), 0 100%, 100% 100%, 100% 0, var(--notch) 0);
}

.footer-content-clip {
  --notch: 52px;
  clip-path: Polygon(
    2px var(--notch),
    0 100%,
    calc(100% - 2px) 100%,
    100% 0,
    50% 0,
    var(--notch) 2px
  );
}

.marquee-animation {
  animation: marquee 20s linear infinite;
}

.marquee-reverse-animation {
  animation: marquee-reverse 20s linear infinite;
}

.agency-stat-container {
  clip-path: Polygon(0 8%, 0 100%, 97% 100%, 100% 92%, 100% 0, 3% 0);
}

.agency-stat-content {
  clip-path: Polygon(
    1px 8%,
    1px calc(100% - 1px),
    30% 100%,
    60% 100%,
    70% calc(100% - 1px),
    97% calc(100% - 1px),
    calc(100% - 1px) 92%,
    calc(100% - 1px) 60%,
    100% 40%,
    100% 0,
    60% 0,
    3% 1px
  );
}

.agency-client-container {
  --notch: 52px;
  clip-path: Polygon(
    0 0,
    0 calc(100% - var(--notch)),
    var(--notch) 100%,
    100% 100%,
    100% var(--notch),
    calc(100% - var(--notch)) 0
  );
}

.agency-client-content {
  --notch: 52px;
  clip-path: Polygon(
    0 0,
    0 30%,
    1px 50%,
    1px calc(100% - var(--notch)),
    var(--notch) calc(100% - 1px),
    30% 100%,
    50% 100%,
    60% calc(100% - 1px),
    calc(100% - 1px) calc(100% - 1px),
    calc(100% - 1px) var(--notch),
    calc(100% - var(--notch)) 1px,
    40% 0
  );
}

.consent-banner-outer-clip {
  clip-path: polygon(
    0 12px,
    0 100%,
    calc(100% - 12px) 100%,
    100% calc(100% - 12px),
    100% 0,
    12px 0
  );
}

.consent-banner-clip {
  clip-path: polygon(
    1px 12px,
    1px 100%,
    30% 100%,
    50% calc(100% - 1px),
    calc(100% - 12px) calc(100% - 1px),
    calc(100% - 1px) calc(100% - 12px),
    calc(100% - 1px) 1px,
    80% 0,
    12px 1px
  );
}

.modal-border-tl {
  --notch: 53px;
  clip-path: polygon(
    100% 0,
    var(--notch) 0,
    0 var(--notch),
    0 100%,
    2px var(--notch),
    var(--notch) 2px
  );
}

.modal-border-br {
  --notch: 54px;
  clip-path: polygon(
    0 calc(100% - 2px),
    calc(100% - var(--notch)) calc(100% - 2px),
    calc(100% - 2px) calc(100% - var(--notch)),
    calc(100% - 2px) 0,
    100% calc(100% - var(--notch)),
    calc(100% - var(--notch)) 100%
  );
}

.similar-blog-img-container {
  --notch: 18px;
  clip-path: polygon(
    0 var(--notch),
    0 100%,
    calc(100% - var(--notch)) 100%,
    100% calc(100% - var(--notch)),
    100% 0%,
    var(--notch) 0
  );
}

.similar-blog-img {
  --notch: 18px;
  clip-path: polygon(
    1px var(--notch),
    1px calc(100% - 1px),
    calc(100% - var(--notch)) calc(100% - 1px),
    calc(100% - 1px) calc(100% - var(--notch)),
    calc(100% - 1px) 1px,
    var(--notch) 1px
  );
}

.blog-body p {
  font-size: 20px;
}

.payload-richtext h2 {
  font-size: 36px;
  margin-top: 72px;
  color: var(--color-brand-orange);
}

.payload-richtext h4 {
  font-size: 26px;
  color: var(--color-brand-orange-light);
}

.payload-richtext hr {
  color: var(--color-brand-orange-light);
}

.payload-richtext a {
  color: var(--color-brand-orange-light);
  text-decoration: underline;
}

.lexical-table {
  width: 100%;
}

.lexical-table-row th {
  color: var(--color-brand-orange-light);
}

.lexical-table-cell p {
  text-align: center;
}

picture img {
  --notch: 52px;
  clip-path: polygon(
    0 var(--notch),
    0 100%,
    calc(100% - var(--notch)) 100%,
    100% calc(100% - var(--notch)),
    100% 0,
    var(--notch) 0
  );
  /* height: 980px; */
  /* aspect-ratio: 1.8;
  object-fit: cover; */
}

.list-bullet {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  padding-left: 40px;
}

.list-number {
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  padding-left: 40px;
}

/* volume slider track & thumb */
.volume-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(
    to right,
    #ffffff var(--val),
    rgba(255, 255, 255, 0.3) var(--val)
  );
  border-radius: 2px;
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}

.volume-slider::-moz-range-track {
  height: 6px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.volume-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.volume-slider::-moz-range-progress {
  background-color: white;
  height: 6px;
  border-radius: 2px;
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
.marquee-track {
  animation-name: var(--marquee-direction);
  animation-duration: var(--marquee-speed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@media (max-width: 767px) {
  .marquee-track {
    animation-duration: var(--marquee-mobile-speed);
  }
}
.marquee-root:hover .marquee-track {
  animation-play-state: var(--marquee-hover-state);
}

@keyframes marquee {
  0% {
    transform: "translateX(0)";
  }
  100% {
    transform: "translateX(-50%)";
  }
}

@keyframes marquee-reverse {
  0% {
    transform: "translateX(-50%)";
  }
  100% {
    transform: "translateX(-0)";
  }
}

@media (min-width: 1280px) {
  .client-testimonial-swiper > .swiper-wrapper {
    gap: 25px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1280px) {
  .btn-clip {
    --notch: 10px;
  }
  .blog-body p {
    font-size: 16px;
  }
  .payload-richtext h2 {
    font-size: 32px;
    margin-top: 52px;
  }
  .payload-richtext h4 {
    font-size: 20px;
  }
  .lexical-table p {
    font-size: 14px;
  }
  picture img {
    --notch: 28px;
  }
  .list-number li,
  .list-bullet li {
    font-size: 16px;
  }
  strong {
    font-weight: 700;
  }
}

@media (max-width: 640px) {
  .btn-clip {
    --notch: 8px;
  }

  .contact-clip-container {
    --notch: 21px;
  }

  .contact-clip-content {
    --notch: 22px;
  }

  .footer-container-clip {
    --notch: 21px;
  }

  .footer-content-clip {
    --notch: 22px;
  }

  .agency-stat-container {
    clip-path: Polygon(
      0 25px,
      0 100%,
      calc(100% - 18px) 100%,
      100% calc(100% - 25px),
      100% 0,
      18px 0
    );
  }

  .agency-stat-content {
    clip-path: Polygon(
      1px 25px,
      1px calc(100% - 1px),
      30% 100%,
      60% 100%,
      70% calc(100% - 1px),
      calc(100% - 18px) calc(100% - 1px),
      calc(100% - 1px) calc(100% - 25px),
      calc(100% - 1px) 60%,
      100% 40%,
      100% 0,
      60% 0,
      18px 1px
    );
  }

  .agency-client-container {
    --notch: 25px;
  }

  .agency-client-content {
    --notch: 25px;
  }

  .modal-border-tl {
    --notch: 13px;
  }

  .modal-border-br {
    --notch: 14px;
  }

  .similar-blog-img-container {
    --notch: 8px;
  }

  .similar-blog-img {
    --notch: 8px;
  }
  .payload-richtext h2 {
    font-size: 20px;
    margin-top: 32px;
  }
  .lexical-table p {
    font-size: 10px;
  }
  .payload-richtext h4 {
    font-size: 16px;
  }
  .blog-body p {
    font-size: 12px;
  }
  .list-number li,
  .list-bullet li {
    font-size: 12px;
  }
  strong {
    font-weight: 600;
  }
  picture img {
    --notch: 16px;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .agency-stat-container {
    clip-path: Polygon(
      0 30px,
      0 100%,
      calc(100% - 25px) 100%,
      100% calc(100% - 30px),
      100% 0,
      25px 0
    );
  }

  .agency-stat-content {
    clip-path: Polygon(
      1px 30px,
      1px calc(100% - 1px),
      30% 100%,
      60% 100%,
      70% calc(100% - 1px),
      calc(100% - 25px) calc(100% - 1px),
      calc(100% - 1px) calc(100% - 30px),
      calc(100% - 1px) 60%,
      100% 40%,
      100% 0,
      60% 0,
      25px 1px
    );
  }

  .agency-client-container {
    --notch: 30px;
  }

  .agency-client-content {
    --notch: 30px;
  }

  .modal-border-tl {
    --notch: 29px;
  }

  .modal-border-br {
    --notch: 30px;
  }

  .similar-blog-img-container {
    --notch: 12px;
  }

  .similar-blog-img {
    --notch: 12px;
  }
  .contact-clip-container {
    --notch: 21px;
  }

  .contact-clip-content {
    --notch: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-clip {
    --notch: 8px;
  }

  .footer-container-clip {
    --notch: 31px;
  }

  .footer-content-clip {
    --notch: 32px;
  }
  .contact-clip-container {
    --notch: 31px;
  }

  .contact-clip-content {
    --notch: 32px;
  }

  .agency-client-container {
    --notch: 40px;
  }

  .agency-client-content {
    --notch: 40px;
  }

  .modal-border-tl {
    --notch: 21px;
  }

  .modal-border-br {
    --notch: 22px;
  }

  .similar-blog-img-container {
    --notch: 14px;
  }

  .similar-blog-img {
    --notch: 14px;
  }
}
